In [14]:
import pandas as pd

In [52]:
df = pd.read_csv('../medicine.csv')
df.head()

,name,usage
0,a.e.r traveler towelette,"Witch hazel has been used to relieve swelling,..."
1,gaviscon extra strength 160 mg-105 mg chewable...,This medication is used to treat the symptoms ...
2,gavreto 100 mg capsule antineoplastic - protei...,This medication is used to treat certain types...
3,e-200,This supplement is used to prevent or treat a ...
4,gamastan s/d 15 %-18 % range intramuscular sol...,This medication is used to provide protection ...

In [53]:
df.shape

(722, 2)

In [24]:
len(df['usage'].unique())

394

In [43]:
df[df['usage'].isnull()==True]

                                                  name usage
207  tacrolimus 0.1 % in vehicle base no.238 topica...   NaN

In [39]:

pd.DataFrame(df.loc[207])

                                                     207
name   tacrolimus 0.1 % in vehicle base no.238 topica...
usage                                                NaN

In [45]:
df.shape

(722, 2)

In [54]:
df.dropna(inplace=True)

In [55]:
df.shape

(721, 2)

In [57]:
df.isnull().sum()

name     0
usage    0
dtype: int64